In [4]:
# List oh high schools

high_schools = ['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [6]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
import pandas as pd

In [8]:
school_Series = pd.Series(high_schools)
for school in school_Series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [9]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [10]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [12]:
school_df = pd.DataFrame

In [14]:
school_df["School ID"] = school_id
school_df["School Name"] = school_name
school_df["Type of School"] = type_of_school
school_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [23]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'School Name':school_name, 'Type of School':type_of_school}

In [25]:
new_df = pd.DataFrame(high_schools_dict)
new_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [34]:
school_df.columns

Index(['School ID', 'School Name', 'Type of School'], dtype='object')

In [35]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [40]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [44]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_id = list(range(0,15))
school_type = ['District', 'District', 'Charter', 'District','Charter', 'Charter', 'Charter', 'Charter', 'Charter', 'Charter', 'Charter', 'Charter', 'Charter', 'Charter', 'Charter']

In [45]:
dataframe_from_lists = pd.DataFrame({'School ID': school_id, 'School Name':high_schools, 'Type of School':school_type})

In [46]:
dataframe_from_lists

    School ID            School Name Type of School
0           0      Huang High School       District
1           1   Figueroa High School       District
2           2    Shelton High School        Charter
3           3  Hernandez High School       District
4           4    Griffin High School        Charter
5           5     Wilson High School        Charter
6           6    Cabrera High School        Charter
7           7     Bailey High School        Charter
8           8     Holden High School        Charter
9           9       Pena High School        Charter
10         10     Wright High School        Charter
11         11  Rodriguez High School        Charter
12         12    Johnson High School        Charter
13         13       Ford High School        Charter
14         14     Thomas High School        Charter